treechildren::-moz-tree-image(modules_users_frontenduser){
	list-style-image: url(/changeicons/small/user-frontoffice.png) ;
}
treechildren::-moz-tree-image(modules_users_backenduser){
	list-style-image: url(/changeicons/small/user-backoffice.png) ;
}
treechildren::-moz-tree-image(modules_users_frontendgroup){
	list-style-image: url(/changeicons/small/users-frontoffice.png) ;
}
treechildren::-moz-tree-image(modules_users_backendgroup){
	list-style-image: url(/changeicons/small/users-backoffice.png) ;
}
treechildren::-moz-tree-image(modules_users_websitefrontendgroup){
	list-style-image: url(/changeicons/small/users-frontoffice.png) ;
}
treechildren::-moz-tree-image(modules_users_websitefrontenduser){
	list-style-image: url(/changeicons/small/user-frontoffice.png) ;
}
treechildren::-moz-tree-image(modules_users_group){
	list-style-image: url(/changeicons/small/users.png) ;
}
treechildren::-moz-tree-image(modules_users_preferences){
	list-style-image: url(/changeicons/small/users.png) ;
}
treechildren::-moz-tree-image(modules_users_user){
	list-style-image: url(/changeicons/small/user.png) ;
}

wdialog[template="changepassword"] .dialog-header{
	background: url(/changeicons/small/change-password.png) transparent center  left no-repeat !important;
}

@import url(/modules/users/style/backoffice.!xul.all.css);
@import url(/modules/users/style/backoffice.gecko.all.css);
@import url(/modules/users/style/backoffice.khtml.all.css);