html {
	background: #4e4a49;
}
img{
	border: 0;
	vertical-align: middle;
}
body {
	background: -moz-linear-gradient(90deg, #4e4a49, #383433) no-repeat;
	font-family: "Trebuchet MS", verdana, arial, sans-serif;
	margin: 0;
	padding: 0;
	min-height: 500px;
	overflow: hidden;
}

.header {
	height: 39px;
	background: url(/media/backoffice/header-bg.png) repeat-x;
}

.header span {
	line-height: 39px;
}

h1 {
	color: #393534;
	text-transform: uppercase;
	margin: 0 auto;
	padding: 0;
	font-size: 18px; line-height : 39px;
	text-align: center;
	line-height: 39px; 
	text-align : center;
	text-shadow: 1px 2px 1px #b4b0af;
}


.content {
	width: 100%;
	text-align: center;
	color: white;
}

.content p {
	width: 640px;
	margin:auto;
	text-align: justify;
}

.content a {
	color: #AAA;
	text-decoration: none;	
}

.content a:hover {
	color: #CCC;
	text-decoration: underline;	
}

p.download {
	margin: 25px auto;
	text-align: center;
}

p.download a {
	background: #CCC;
	color: #333;
	font-weight: bold;
	padding:5px 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border:1px #999 solid;
}

p.download a:hover {
	color: #444;
	background: #DDD;
	text-shadow: 0px 0px 20px #FFF;
	text-decoration: none;	
}

p.copyright {
	margin-top:50px;
	text-align: center;
	font-size:10px;
}
