<?xml version="1.0" encoding="utf-8"?>
<config>
	<module>
		<visible>true</visible>
		<icon>users</icon>
		<category>admin</category>
	</module>
	<project>

		<!--
		<entry name="loginCaseSensitive">false</entry>
		<entry name="allowedRoles">Admin,Writer,Validator,Translator,Guest,User</entry>
		<entry name="notificationStrategy">users_DefaultUsersNotificationStrategy</entry>
		 -->
		 
		<entry name="anonymousEmailAddress">anonymous@localhost.localdomain</entry>
	</project>
</config>