<form id="change-password" change:form="">
	<fieldset>
		<legend>${trans:m.users.frontoffice.changepassword.title,ucf}</legend>
		<ul change:errors=""></ul>	
		<ol class="modules-users-changepassword-form">
			<li>
				<input change:passwordinput="name oldpassword" labeli18n="m.users.frontoffice.changepassword.oldpassword" required="true" />
			</li>
			<li>
				<input change:passwordinput="name password" labeli18n="m.users.frontoffice.changepassword.newpassword" required="true" />
			</li>
			<li>
				<input change:passwordinput="name confirmpassword" labeli18n="m.users.frontoffice.changepassword.confirmnewpassword" required="true" />
			</li>
		</ol>
		<p class="buttons">
			<input name="usersParam[submit]" type="submit" class="button" value="${trans:m.users.frontoffice.changepassword.submitbutton,ucf}" />
		</p>
	</fieldset>
</form>