<h2 change:h="" change:translate="modules.users.frontoffice.Already-logged-in" />
<p class="normal" change:translate="modules.users.frontoffice.You-are-logged-as; fullName user/getFullName" />
<p class="buttons">
	<a class="button" change:link="tag contextual_website_website_modules_users_edit-profil" change:translate="&modules.users.frontoffice.Edit-profile;" />
	<a class="button" change:actionlink="" action="logout" change:translate="&modules.users.frontoffice.adminauthentication.Logout;" />
</p>