<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr" tal:attributes="xml:lang lang; lang lang;">
	<head>
		<title i18n:translate="&modules.uixul.bo.general.Project-name;">CHANGE4</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<link rel="stylesheet" href="chrome://global/skin/" type="text/css" />
		<style tal:replace="cssInclusion"/>
		<link rel="icon" href="${UIHOST}/favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="${UIHOST}/favicon.ico" type="image/x-icon" />
		<script type="text/javascript">
			var host = "${UIHOST}";
		</script> 	
	</head>

	<body>
		<div class="form-login">
			<h1><a href="http://change.rbs.fr/" title="RBS CHANGE"><img change:image="logoCMS.png" alt="RBS CHANGE" /></a></h1>
			<h2 i18n:translate="&modules.users.bo.general.accessForm.TitleSpaced;"></h2>
			<div class="browser-extension" id="changexchrome" url="${UIHOST}">
				<p change:translate="&modules.users.bo.general.accessForm.Introduction;" />

				<!-- <h3 change:translate="&modules.users.bo.general.accessForm.Check-title;" />
				<p change:translate="&modules.users.bo.general.accessForm.Check-description;" /> -->

				<h3 change:translate="&modules.users.bo.general.accessForm.Install-title;" />
				<p change:translate="&modules.users.bo.general.accessForm.Install-description;" />
			</div>
			<div class="browser-extension" style="margin-top: 10px">
				<h3 change:translate="&modules.users.bo.general.accessForm.Connect-title;" />
				<p change:translate="&modules.users.bo.general.accessForm.Connect-description;" />
			</div>
			<p class="copyright">RBS Change&trade; &copy; 2009 Ready Business System</p>
		</div>
	</body>
</html>