<form id="change-password" change:form="">
	<fieldset>
		<legend class="h-1">${trans:m.users.frontoffice.changepassword.title,ucf}</legend>
		<ul change:errors=""></ul>	
		<ol class="modules-users-changepassword-form">
			<li>
				<input change:passwordinput="name oldpassword; required true" labeli18n="m.users.frontoffice.changepassword.oldpassword" />
			</li>
			<li>
				<input change:passwordinput="name password; required true" labeli18n="m.users.frontoffice.changepassword.newpassword" />
			</li>
			<li>
				<input change:passwordinput="name confirmpassword; required true" labeli18n="m.users.frontoffice.changepassword.confirmnewpassword" />
			</li>
		</ol>
		<p class="buttons">
			<input name="usersParam[submit]" type="submit" class="button" value="${trans:m.users.frontoffice.changepassword.submitbutton,ucf}" />
		</p>
	</fieldset>
</form>