<ul tal:condition="errors" class="errors">
	<li tal:repeat="error errors" tal:content="error"/>
</ul>
<form action="" method="post" name="formauthentication" class="cmxform">
	<ol class="modules-users-login-form">
		<li>
			<label for="authenticationlogin" change:translate="&modules.users.frontoffice.authentication.Login;">Login</label>
			<input name="usersParam[login]" id="authenticationlogin" type="text" value="${loginAsHtml}" maxlength="50" />
		</li>
		<li class="button">
			<input name="usersParam[forBlockName]" type="hidden" value="Resetpassword" />
			<input name="usersParam[submit]" type="submit" change:i18nattr="value &modules.users.frontoffice.resetpassword.SubmitButton;" />
		</li>
	</ol>
</form>