<form change:form="" class="cmxform">
	<ul class="errors" tal:condition="errors">
		<li tal:repeat="error errors" tal:content="error" />
	</ul>
	<ol class="modules-users-login-form">
		<li>
			<input change:textinput="name login" label="&modules.users.frontoffice.authentication.Login;" />
		</li>
		<li>
			<input change:passwordinput="name password" label="&modules.users.frontoffice.authentication.Password;" />
		</li>
		<li tal:condition="allowAutoLogin">
			<label for="users_authentication_autoLogin_yes" change:translate="modules.users.frontoffice.authentication.Auto-login-me" />
			<input change:checkboxinput="name autoLogin" labeled="false" value="yes" />
			<tal:block change:translate="modules.users.frontoffice.authentication.auto-login-me-help" />
		</li>
		<li class="button">
			<input name="usersParam[submit]" type="submit" class="button" change:i18nattr="value &modules.users.frontoffice.authentication.SubmitButton;" />
		</li>
		<li>
			<a change:link="tag contextual_website_website_modules_users_reset-password" change:translate="&modules.users.frontoffice.authentication.Resetpasswordlink;" />
		</li>
		<tal:block tal:condition="not: hideRegistrationLinks">
			<tal:block change:loadhandler="generic_TaggedDocumentLoadHandler" args="registrationPage, contextual_website_website_modules_users_register" />
			<li tal:condition="registrationPage">
				<a change:link="document registrationPage; formParam[usebacklink] 'true'" change:translate="&modules.users.frontoffice.Register-link;" />
			</li>
			<tal:block change:loadhandler="generic_TaggedDocumentLoadHandler" args="customerRegistrationPage, contextual_website_website_modules_customer_new-account" />
			<li tal:condition="customerRegistrationPage">
				<a change:link="document customerRegistrationPage; formParam[usebacklink] 'true'" change:translate="&modules.customer.frontoffice.New-account-link;" />
			</li>
		</tal:block>
	</ol>
</form>