<ul change:errors=""></ul>
<ul change:messages=""></ul>
<form change:form="">
	<ol>
		<li class="first"><input change:textinput="name login" label="&modules.users.frontoffice.adminauthentication.loginLabel;" /></li>
		<li><input change:passwordinput="name password" label="&modules.users.frontoffice.adminauthentication.passwordLabel;" /></li>
		<li class="last" change:i18nattr="title &modules.users.frontoffice.adminauthentication.remember-me-help;"><input change:booleaninput="name rememberMe" label="&modules.users.frontoffice.adminauthentication.remember-meLabel;" default-value="false" /></li>
	</ol>
	<p class="buttons"><input change:submit="" name="login" value="Connexion" class="button" /></p>
</form>
<p>
	<a class="link" change:actionlink="" action="lostpasswordform" change:translate="&modules.users.frontoffice.adminauthentication.lostpassword;"></a>
</p>