<form change:form="" id="reset-password">
	<fieldset>
		<legend>${trans:m.users.frontoffice.resetpassword.title,ucf}</legend>
		<ul change:errors=""></ul>
		<ol>
			<li>
				<input change:textinput="" name="login" labeli18n="m.users.frontoffice.authentication.login" required="true" />
			</li>
		</ol>
		<p class="buttons">
			<input name="usersParam[forBlockName]" type="hidden" value="Resetpassword" />
			<input name="usersParam[submit]" class="button" type="submit" value="${trans:m.users.frontoffice.resetpassword.submitbutton,ucf}" />
		</p>
	</fieldset>
</form>