<form change:form="beanClass users_persistentdocument_user; beanName user">
	<fieldset>
		<legend class="h-2">${title}</legend>
		<ul change:errors=""></ul>
		<ul change:messages=""></ul>
		<ol>
			<li>
				<input change:field="name label" autocorrect="off" autocapitalize="off" />
			</li>	
			<li>
				<input change:field="name login" />
				<a change:link="tag contextual_website_website_modules_users_change-password">${trans:m.users.frontoffice.editprofil.changepassword}</a>
			</li>
			<li>
				<input change:field="name email" autocorrect="off" autocapitalize="off" />
			</li>		
		</ol>
		<p class="buttons">
			<input change:field="name beanId" hidden="true" />	
			<input change:submit="labeli18n m.users.frontoffice.editprofil.submitbutton" name="save" />
		</p>
	</fieldset>
</form>