<form action="" method="post" name="formauthentication" class="cmxform">
	<ul tal:condition="errors" class="errors">
		<li tal:repeat="error errors" tal:content="error"/>
	</ul>
	
	<ol class="modules-users-login-form">
		<li>
			<label change:translate="&modules.users.frontoffice.editprofil.Login;">Identifiant</label>
			<span tal:content="currentUser/getLogin"/>
			<a change:link="tag contextual_website_website_modules_users_change-password" change:translate="&modules.users.frontoffice.editprofil.changepassword;">Changer le mot de passe</a>
		</li>
		<li>
			<label for="title" change:translate="&modules.users.frontoffice.editprofil.Title;">Civilité</label>
			<span change:select="name 'usersParam[title]'; listId 'modules_users/title'; defaultValue currentUser/getTitle/getId" />
		</li>
		<li>
			<label for="firstname" change:translate="&modules.users.frontoffice.editprofil.Firstname;">Prénom</label>
			<input name="usersParam[firstname]" id="firstname" type="text" maxlength="50" tal:attributes="value currentUser/getFirstname"/>
		</li>
		<li>
			<label for="lastname" change:translate="&modules.users.frontoffice.editprofil.Lastname;">Nom</label>
			<input name="usersParam[lastname]" id="lastname" type="text" maxlength="50" tal:attributes="value currentUser/getLastname"/>
		</li>
		<li>
			<label for="email" change:translate="&modules.users.frontoffice.editprofil.Email;">Adresse e-mail</label>
			<input name="usersParam[email]" id="email" type="text" maxlength="100" tal:attributes="value currentUser/getEmail"/>
		</li>		
		<li class="button">
			<input name="usersParam[submit]" type="submit" change:i18nattr="value &modules.users.frontoffice.editprofil.SubmitButton;" />
		</li>
	</ol>
</form>