<form action="" method="post" name="formauthentication" class="cmxform">
	<ul tal:condition="errors" class="errors">
		<li tal:repeat="error errors" tal:content="error"/>
	</ul>
	
	<ol class="modules-users-changepassword-form">
		<li>
			<label for="authenticationoldpassword" change:translate="&modules.users.frontoffice.changepassword.Oldpassword;" />
			<input name="usersParam[oldpassword]" id="authenticationoldpassword" type="password" value="" maxlength="20" /></li>
		<li>
			<label for="authenticationnewpassword" change:translate="&modules.users.frontoffice.changepassword.Newpassword;" />
			<input name="usersParam[password]" id="authenticationnewpassword" type="password" value="" maxlength="20" /></li>
		<li>
			<label for="authenticationconfirmnewpassword" change:translate="&modules.users.frontoffice.changepassword.Confirmnewpassword;" />
			<input name="usersParam[confirmpassword]" id="authenticationconfirmnewpassword" type="password" value="" maxlength="20" />
		</li>
		<li class="button">
			<input name="usersParam[submit]" type="submit" change:i18nattr="value &modules.users.frontoffice.changepassword.SubmitButton;" />
		</li>
	</ol>
</form>