<div class="dashboard-widget" tal:omit-tag="refresh" refreshURL="${refreshURL}" title="${title}" icon="${icon}">
	<tal:block tal:condition="forEdition">
		<div class="title-bar" ><img src="${icon}" /> ${title}</div>
		<div class="content-block"><div class="content" change:translate="&modules.dashboard.dashboard.DummyContent;">...</div></div>
	</tal:block>
	<tal:block tal:condition="not:forEdition">
		<table class="users-statistics">
			<thead>
				<tr>
					<th />
					<th change:translate="&modules.users.bo.dashboard.Backendusers;" />
					<th>
						<tal:block change:translate="&modules.users.bo.dashboard.Frontendusers;" />
						<select onchange="var widget = Dashboard.getWidgetByNode(this.parentNode.parentNode.parentNode); widget.parameters['usersParam[website]'] = this.options[this.selectedIndex].value; widget.refresh();">
							<option change:translate="&modules.users.bo.dashboard.All-websites;" value="all" />
							<tal:block tal:repeat="website websites">
								<option tal:condition="website/selected" selected="selected" value="${website/getId}">${website/getLabel}</option>
								<option tal:condition="not: website/selected" value="${website/getId}">${website/getLabel}</option>
							</tal:block>
						</select>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td change:translate="&modules.users.bo.dashboard.CountLabel;" />
					<td>${backendUserCount}</td>
					<td>${frontendUserCount}</td>
				</tr>
				<tr>
					<td change:translate="&modules.users.bo.dashboard.Published-countLabel;" />
					<td>${backendUserPublishedCount}</td>
					<td>${frontendUserPublishedCount}</td>
				</tr>
				<tr>
					<td change:translate="&modules.users.bo.dashboard.Weekinactive-countLabel;" />
					<td>${backendInactiveWeekCount}</td>
					<td>${frontendInactiveWeekCount}</td>
				</tr>
				<tr>
					<td change:translate="&modules.users.bo.dashboard.Monthinactive-countLabel;" />
					<td>${backendInactiveMonthCount}</td>
					<td>${frontendInactiveMonthCount}</td>
				</tr>		
				<tr>
					<td change:translate="&modules.users.bo.dashboard.Inactive-countLabel;" />
					<td>${backendInactiveCount}</td>
					<td>${frontendInactiveMonthCount}</td>
				</tr>
		
			</tbody>
		</table>
	</tal:block>
</div>
