<h1 change:h="">${trans:m.users.frontoffice.su.switch-user,ucf}</h1>

<form change:form="" id="searchUser" method="get">
	<input type="text" change:textinput="" name="userWords" />
	<input type="submit" change:submit="" name="filter" value="Rechercher" class="button" />
</form>

<p class="normal" tal:condition="php: usersCount LE 0">${trans:m.users.frontoffice.su.search-no-result,ucf}</p>
<tal:block tal:condition="php: usersCount GT 0">
	<p class="normal">${trans:m.users.frontoffice.su.result-users-count,ucf,usersCount=usersCount}</p>
	<table class="normal">
		<caption class="h-2">${trans:m.users.frontoffice.su.users-list,ucf}</caption>
		<thead>
			<tr>
				<th>${trans:m.users.frontoffice.su.last-name,ucf}</th>
				<th>${trans:m.users.frontoffice.su.first-name,ucf}</th>
				<th>${trans:m.users.frontoffice.su.login,ucf}</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr tal:repeat="user users" class="row-${repeat/feature/odd}">
	   			<td>${user/getLastname}</td>
	   			<td>${user/getFirstname}</td>
	   			<td>${user/getLogin}</td>
	   			<td><a change:actionlink="" block="users_su" action="switch" userId="${user/getId}">${trans:m.users.frontoffice.su.switch,ucf}</a></td>
			</tr>
		</tbody>
	</table>
	<tal:block change:paginator="users" />
</tal:block>