<form id="registration-form" change:form="beanClass users_persistentdocument_user; beanName user">
	<fieldset>
		<legend class="h-1">${trans: m.users.frontoffice.registration,ucf}</legend>
		<ul change:errors="relKey registration-form"></ul>
		<ol>
			<li><input change:field="name email" autocorrect="off" autocapitalize="off" /></li>
			<li tal:condition="configuration/getShowLoginField">
				<input change:field="name login; required false" autocorrect="off" autocapitalize="off" />
				<p class="help-text">${trans: m.users.frontoffice.registration-login-help,ucf}</p>	
			</li>
			<li tal:condition="configuration/getShowNameField">
				<input change:field="name label; required false" />
				<p class="help-text">${trans: m.users.frontoffice.registration-label-help,ucf}</p>	
			</li>
			<tal:block tal:condition="configuration/getShowPasswordFields">
				<li><input change:passwordinput="required true" name="password" labeli18n="m.users.frontoffice.authentication.password" /></li>
				<li><input change:passwordinput="required true" name="password_confirm" labeli18n="m.users.frontoffice.authentication.confirmpassword" /></li>
			</tal:block>
		</ol>
		<p class="buttons">
			<input change:field="name beanId" />
			<input change:submit="" labeli18n="m.users.frontoffice.create-my-account" name="save" />
		</p>
	</fieldset>
</form>

<form id="login-form" change:form="" action="${authenticateUrl}">
	<fieldset>
		<legend class="h-2">${trans: m.users.frontoffice.already-registered,ucf}</legend>
		<tal:block change:block="" module="website" name="messages" container="" />
		<ol>
			<li tal:condition="configuration/getShowLoginField">
				<input change:textinput="name login; required true" labeli18n="m.users.frontoffice.authentication.login"  />
			</li>
			<li tal:condition="not: configuration/getShowLoginField">
				<input change:textinput="name login; required true" labeli18n="m.users.frontoffice.authentication.email" />
			</li>
			<li>
				<input change:passwordinput="name password; required true" labeli18n="m.users.frontoffice.authentication.password" />
			</li>
			<li tal:condition="allowAutoLogin">
				<input standalone="true" change:checkboxinput="name autoLogin" labeli18n="m.users.frontoffice.authentication.auto-login-me" value="yes" />
				<p class="help-text">${trans: m.users.frontoffice.authentication.auto-login-me-help}</p>
			</li>
		</ol>
		<p class="buttons">
			<input type="hidden" name="storageId" value="${storageId}" />
			<input change:submit="" label="${trans: m.users.frontoffice.login-button,ucf}" name="login" />
			<a rel="nofollow" change:link="tag contextual_website_website_modules_users_reset-password" class="button secondary">${trans: m.users.frontoffice.authentication.resetpasswordlink,ucf}</a>
		</p>
	</fieldset>
</form>