<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr" tal:attributes="xml:lang lang; lang lang;">
	<head>
		<title i18n:translate="&modules.uixul.bo.general.Project-name;">CHANGE4</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<link rel="stylesheet" href="chrome://global/skin/" type="text/css" />
		<style tal:replace="cssInclusion"/>
		<link rel="icon" href="${UIHOST}/favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="${UIHOST}/favicon.ico" type="image/x-icon" />
		<script type="text/javascript">
			var host = "${UIHOST}";
		</script> 	
	</head>

	<body>
		<div class="header">
			<h1>Identification</h1>
		</div>
		<div class="content" >
			<a href="http://www.rbschange.fr" title="Vers le site rbschange.fr"  hreflang="fr"><img change:image="login-logo.png" /></a>
			<h2>Accéder à l'interface d'adminstration</h2>
			<p>Bienvenue dans RBS Change ! Pour accéder à l'interface d'adminstration de votre CMS, il vous suffit d'utiliser l'extension RBS
			Change Manager pour les navigateurs Firefox 3.5 ou supérieurs. Si vous souhaitez plus d'informations sur RBS Change Manager, vous pouvez
			consulter <a href="http://www.rbschange.fr/ressources/rbs-change-manager.html" hreflang="fr">la documentation en ligne de l'extension</a>.
			</p> 
			<p class="download" id="changexchrome" url="${UIHOST}"><a href="http://www.rbs.fr/extension/rbschange.xpi" title="Installer RBS Change Manager">Installer l'extension</a></p>
			<p class="copyright">RBS Change&trade; &copy; 2010 <a href="http://www.rbs.fr" title="Vers le site rbs.fr" hreflang="fr">Ready Business System</a></p>
		</div>

	</body>
</html>