<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr" tal:attributes="xml:lang lang; lang lang;">
	<head>
		<title i18n:translate="&modules.uixul.bo.general.Project-name;">CHANGE4</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<link rel="stylesheet" href="chrome://global/skin/" type="text/css" />
		<style tal:replace="cssInclusion"/>
		<link rel="icon" href="${UIHOST}/favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="${UIHOST}/favicon.ico" type="image/x-icon" />
		<script type="text/javascript">
		function startExtension()
		{
			try
			{
				var element = document.getElementById('changexchrome');   
				var evt = document.createEvent("Events");   
				evt.initEvent("RBSChangeExtensionStartEvent", true, false);   
				element.dispatchEvent(evt);
			} catch (e) {}
		} 
		</script> 	
	</head>

	<body onload="startExtension();">
		<div class="header">
			<h1>Identification</h1>
		</div>
		<div class="content" >
			<a href="http://www.rbschange.com" title="Visit rbschange.com"  hreflang="en"><img change:image="login-logo.png" /></a>
			<h2>Log on to your backoffice interface</h2>
			<p>Welcome to RBS Change! In order to log on to your backoffice interface, you have to use the RBS Change Manager Firefox extension for Firefox
			3.5 or above. If you would like to know more about this extension, please read the 
			<a href="http://www.rbschange.com/docs/rbs-change-manager-firefox-extension/" hreflang="en">online documentation</a> on our website.
			</p> 
			<p class="download" id="changexchrome" url="${UIHOST}"><a href="http://www.rbs.fr/extension/rbschange.xpi" title="Installer RBS Change Manager">Installer l'extension</a></p>
			<p class="copyright">RBS Change&trade; &copy; 2010 <a href="http://www.rbs.fr" title="visit rbs.fr" hreflang="fr">Ready Business System</a></p>
		</div>

	</body>
</html>