<ul tal:condition="errors" class="errors">
	<li tal:repeat="error errors" tal:content="error"/>
</ul>
<form action="" method="post" name="formauthentication" class="cmxform">
	<ol class="modules-users-login-form">
		<li>
			<label for="authenticationlogin">${trans:m.users.frontoffice.authentication.login,ucf}</label>
			<input name="usersParam[login]" id="authenticationlogin" type="text" value="${loginAsHtml}" maxlength="50" />
		</li>
		<li class="button">
			<input name="usersParam[submit]" class="button" type="submit" value="${trans:m.users.frontoffice.resetpassword.submitbutton,ucf}" />
		</li>
	</ol>
</form>
