<form change:form="" action="${authenticateUrl}">
	<fieldset>
		<legend class="h-2">${trans:m.users.frontoffice.authentication.title,ucf}</legend>
		<tal:block change:block="" module="website" name="messages" container="" />
		<ol>
			<li>
				<input change:textinput="name login" autocorrect="off" autocapitalize="off" labeli18n="m.users.frontoffice.authentication.login" />
			</li>
			<li>
				<input change:passwordinput="name password" labeli18n="m.users.frontoffice.authentication.password" />
			</li>
			<li>
				<p class="help-text">
					<a rel="nofollow" change:link="tag contextual_website_website_modules_users_reset-password">${trans: m.users.frontoffice.authentication.resetpasswordlink,ucf}</a>
				</p>
			</li>
			<li tal:condition="allowAutoLogin">
				<label change:fieldlabel="name autoLogin" labeli18n="m.users.frontoffice.authentication.auto-login-me" class="textfield"></label>
				<input change:checkboxinput="name autoLogin" labeled="false" value="yes" standalone="true" />
				<p class="help-text">${trans:m.users.frontoffice.authentication.auto-login-me-help}</p>
			</li>
		</ol>
		<p class="buttons">
			<input type="hidden" name="storageId" value="${storageId}" />
			<input type="hidden" name="location" value="${location}" />
			<input type="hidden" name="errorlocation" value="${errorlocation}" />
			<input change:submit="" label="${trans: m.users.frontoffice.login-button,ucf}" class="button primary" name="login" />
		</p>
	</fieldset>	
</form>
<ul class="menu-list" tal:condition="not: hideRegistrationLinks">
	<tal:block change:loadhandler="generic_TaggedDocumentLoadHandler" args="registrationPage, contextual_website_website_modules_users_register" />
	<li tal:condition="registrationPage">
		<a change:link="document registrationPage; formParam[usebacklink] 'true'">${trans:m.users.frontoffice.register-link,ucf}</a>
	</li>
	<tal:block change:loadhandler="generic_TaggedDocumentLoadHandler" args="customerRegistrationPage, contextual_website_website_modules_customer_new-account" />
	<li tal:condition="customerRegistrationPage">
		<a change:link="document customerRegistrationPage; formParam[usebacklink] 'true'">${trans:m.customer.frontoffice.new-account-link,ucf}</a>
	</li>
</ul>